@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids (choose one)
@include foundation-xy-grid-classes;
// @include foundation-grid;
// @include foundation-flex-grid;

// Generic components
@include foundation-button;
@include foundation-button-group;
@include foundation-close-button;
@include foundation-label;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-switch;
@include foundation-table;
// Basic components
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-callout;
@include foundation-card;
@include foundation-dropdown;
@include foundation-pagination;
@include foundation-tooltip;

// Containers
@include foundation-accordion;
@include foundation-media-object;
@include foundation-orbit;
@include foundation-responsive-embed;
@include foundation-tabs;
@include foundation-thumbnail;
// Menu-based containers
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-accordion-menu;
@include foundation-drilldown-menu;
@include foundation-dropdown-menu;

// Layout components
@include foundation-off-canvas;
@include foundation-reveal;
@include foundation-sticky;
@include foundation-title-bar;
@include foundation-top-bar;

// Helpers
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
// @include foundation-prototype-classes;

// Motion UI
@include motion-ui-transitions;
@include motion-ui-animations;

// Project CSS


//fluid container width needs a hidden overflow-x
body {
	//background: #fefefe;
	color: #0a0a0a;
	overflow-x: hidden;
}

//boxhelper
.boxHelper{
  width: 100%;
  height:88vh;
  //background-color:#fff;
  border-style: solid;
  border-color: red;
  border-width: 5px;
}

.sign-in{
background-color: #fff;
}

/* The only rule that matters */
#video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}




//nav bar
.top-bar {
	padding: 0.5rem 1rem;
}
.top-bar-brand {
	display: inline-block;
	margin-top: 8px;
	font-size: 18px;
}
.menu-icon {
	margin-top: 12px;
	opacity: 1;
}
.close-button {
	visibility: hidden;
	opacity: 0;
	color: black;
	// &:hover {
	// 	color: #8a8a8a;
	// }
}
.menu-icon, .close-button {
	z-index: 99;
	transition: 250ms opacity ease;
}
.nav-menu {
	position: absolute;
	width: 100%;
	right: -100%;
	top: 0;
	text-align: center;
	transition: 250ms all ease;
	@media (min-width: 40em) {
		width: 50%;
		right: -50%;
	}
	.menu {
		height: 100vh;
		padding: 25px;
		background: #ccc;
		font-size: 20px;
		a {
			display: inline-block;
		}
	}
}
.expanded {
	.nav-menu {
		right: 0;
	}
	.menu-icon {
		visibility: hidden;
		opacity: 0;
	}
	.close-button {
		visibility: visible;
		opacity: 1;
	}
}
.menu-title {
	margin-bottom: 0.7rem;
}
