$dark-bg: rgb(26, 24, 24);
$tomato-orange: #ff6600;
$crimson-red: #bd0048;
$green-yellow: #e0f30e;
$sea-green:#04a47a;
$turquoise: #24c2cb;
$roku-purple: #662d91;
$sky-blue: #c7f6ff;
$medium-purple: #6e389a;
$medium-blue: #0FACFF;
$periwinkle: #5C69FF;
$baby-blue: #64C4E8;
$pink: #FFD9E6;
$white:#ffffff;

